.board-container {
  width: 80%;
  min-height: 90vh;

  .board-header {
  }

  .board-body {
    padding: 20px;

    .button-row {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex; 

      .btn-new-order {
        text-transform: capitalize;
      }
    }

    .tbl{
        margin-top:50px;
        margin-bottom: 20px; 

        .tbl-container{
            max-height: 300px;
            overflow-y: auto;

            .order-lists{
                width : 300px; 
            }
        }
    }
  }
}
